@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title></title>
    <script>
        function nextUrl() {
            location.href = "/Home/Index";
        }
    </script>
</head>
<body>
    <p>Данные за указанный временной диапазон отсутствуют.Рекомендуется проверка диапазона.</p>
    <input type="button" value="Возврат" onclick="nextUrl()" />
</body>
</html>

