@{
    Layout = null;

}
@model IEnumerable<DBReport.Models.ReportInfo>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title></title>
</head>
<body>    
    @foreach (var item in Model)
    {
        @* Чтение св-в элемента модели
        <h3>Имя продукта: @item.Name</h3>

        if (item.Category == "Канцтовары")
        {
            <p>На канцтовары действует <b>скидка 10%</b></p>
        }

        if (item.Price < 5)
        {
            @:стоимость доставки 10грн.
        }
        <hr />*@

    }
</body>
</html>