@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title></title>
</head>
<body>
    @{ 
        DateTime d = new DateTime(2012, 5, 12);        
    }
    @d.CompareTo(new DateTime(2012, 5, 13))
</body>
</html>